# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/
venv/
venv_build/
/venv_build

# Documentation & Refactor Archives
docs/
docs/refactor/

# PyInstaller
build/
dist/

# Installer Output
installer/

# Logs & Config
logs/
authlib-injector.log
/skins
launcher_config.json
NewLauncher-1.4-x86_64.AppImage
/AppDir
/build_linux
/dist_linux
/addons/p3_menu/.gradle
/addons/p3_menu/build_manual
/NewLauncher.CSharpUI
New-launcher.sln

# Scratch & Temporary Files
*.bak
*.tmp
