pkgbase = new-launcher
	pkgdesc = Minecraft Java launcher for managing installations, modpacks, mods, skins, and profiles
	pkgver = 3.0.1
	pkgrel = 1
	url = https://github.com/Amne-Dev/New-launcher
	arch = any
	license = BSD-3-Clause
	depends = fontconfig
	depends = python
	depends = python-minecraft-launcher-lib
	depends = python-pillow
	depends = python-pypresence
	depends = python-pystray
	depends = python-requests
	depends = tk
	depends = xdg-utils
	source = https://github.com/Amne-Dev/New-launcher/archive/refs/tags/v3.0.1.tar.gz
	sha256sums = 6e3ed8fac25ed4bc9abcf74fc16831ed42b0c920f7e28e02da0b31ed0691bc7e

pkgname = new-launcher
